*{
   
    margin:0;
    box-sizing: border-box;
    position: relative;
}

#first{
    width: 100%;
    height: 100vh;
    background: red ;
}

#second{
    width: 100%;
    height: 100vh;
    background: green ;

}

#third{
    width: 100%;
    height: 100vh;
    background: yellow;
}

.menu{
    width:20%;
    height: 10vh;
    position:absolute;
    position:fixed;
   
    top:0;
    right:0;
    z-index:3;
    overflow: hidden;
    line-height: 10vh;
    vertical-align: center;
    text-align: center;
}

.menu button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:1px solid black;
    background-color:white;
    margin:5px;
}

button a{
    text-decoration: none;
    font-weight:900;
    font-size:10px;
    
}

img {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.text{
    position:absolute;
    width:40%;
    font-size:40px;
    text-align:center;
    left:50%;
    bottom:10%;
    transform: translate(-50%);
    font-weight: bolder;
    color:yellow;
    font-family: 'Montserrat', sans-serif;
}

.green{
    color:green;
}

::-webkit-scrollbar{
    display: none;
}

